name: Build and publish image to ghcr.io/infn-epics/infn-epics-ioc-

on:
  push:
  pull_request:

jobs:
  
  build:
    # pull requests are a duplicate of a branch push if within the same repo.
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.repository
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        epics-target: [linux-x86_64] # , linux-aarch64]
        include:
          - os: ubuntu-latest # everyone is on ubuntu-latest
          - epics-target: linux-x86_64
            extension: ""
            platform: linux/amd64

          # # a temporary name until multi-arch is supported
          # - epics-target: linux-aarch64
          #     extension: -native-aarch64
          #     platform: linux/arm64

    runs-on: ${{ matrix.os }}
    outputs:
      developer-tag: ${{ steps.developer-tag-single.outputs.developer_tag }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Log in to GitHub Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io/${{ github.repository_owner }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: ${{ matrix.platform }}
          target: runtime
          build-args: |
            IMAGE_EXT=${{ matrix.extension }}
            TAGVERSION="runtime-${{ github.ref_name }}"
          cache-from: type=gha,scope=${{ matrix.epics-target }}
          cache-to: type=gha,mode=max,scope=${{ matrix.epics-target }}
          tags: ci_test
          load: true

      - name: Test image
        # can't test non native without some hardware to run on
        if: ${{ matrix.epics-target == 'linux-x86_64' }}
        run: tests/run-tests.sh ci_test

      # - name: Test Templates
      #   # can't test non-native without some hardware to run on
      #   if: ${{ matrix.epics-target == 'linux-x86_64' }}
      #   run: |
      #     for file in ibek-templates/tests/*; do
      #       filename=$(basename "$file")
      #       echo "Testing template: $filename"
      #       tests/templates.sh ci_test "$filename" `pwd`
      #     done

      # - name: Developer target metadata
      #   id: meta-developer
      #   uses: docker/metadata-action@v3
      #   with:
      #     images: |
      #       ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}${{ matrix.extension }}-developer
      #     tags: |
      #       type=raw,value=${{ github.ref_name }}
      #       type=raw,value=latest

      # - name: Set single developer tag (for release)
      #   id: developer-tag-single
      #   run: |
      #     echo "${{ steps.meta-developer.outputs.tags }}" | head -n 1 | awk '{ print "developer_tag="$1 }' >> "$GITHUB_OUTPUT"

      # - name: Push developer image
      #   if: ${{ github.event_name == 'push' && github.ref_type == 'tag' }}
      #   uses: docker/build-push-action@v5
      #   with:
      #     context: .
      #     platforms: ${{ matrix.platform }}
      #     target: developer
      #     build-args: |
      #       IMAGE_EXT=${{ matrix.extension }}
      #       TAGVERSION="developer-${{ github.ref_name }}"
      #     tags: ${{ steps.meta-developer.outputs.tags }}
      #     labels: ${{ steps.meta-developer.outputs.labels }}
      #     push: true

      - name: Runtime target metadata
        id: meta-runtime
        uses: docker/metadata-action@v3
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}${{ matrix.extension }}-runtime
          tags: |
            type=raw,value=${{ github.ref_name }}
            type=raw,value=latest

      - name: Push runtime image
        if: ${{ github.event_name == 'push' && github.ref_type == 'tag' }}
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: ${{ matrix.platform }}
          target: runtime
          build-args: |
            IMAGE_EXT=${{ matrix.extension }}
            TAGVERSION="runtime-${{ github.ref_name }}"
          tags: ${{ steps.meta-runtime.outputs.tags }}
          labels: ${{ steps.meta-runtime.outputs.labels }}
          push: true

  release:
    # Release on tag push - publish ioc schema
    needs: [build]
    if: ${{ github.event_name == 'push' && github.ref_type == 'tag' }}
    runs-on: ubuntu-latest

    # this job runs in the native developer container we just made
    container:
      image: ${{ needs.build.outputs.developer-tag }}

    steps:
      # - name: report container tag name
      #   run: |
      #     echo developer container image tag is ${{ needs.build.outputs.developer-tag }}

      - name: generate-schema
        run: |
          ibek ioc generate-schema --output ibek.ioc.schema.json

      - name: Github Release
        uses: softprops/action-gh-release@de2c0eb89ae2a093876385947365aca7b0e5f844 # v0.1.15
        with:
          files: |
            ibek.ioc.schema.json
          generate_release_notes: true
